.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}
.pointer {
  cursor: pointer;
}
.zoom-in {
  cursor: zoom-in;
}
//SECTION keep card CSS
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.neu-styling {
  box-shadow: 10px 10px 20px #acacad;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.924);
}

.keep-img {
  border-radius: 12px;
}
.keep-body {
  max-width: 30vw;
  position: relative;
  text-align: center;
  color: white;
  border-radius: 12px;
}
//SECTION keep modal CSS
.counter-icon {
  color: rgb(156, 243, 236);
  font-size: 1.5em;
}
.exit-icon {
  color: red;
  font-size: 1.5em;
}
.user-icon {
  max-width: 3vw;
}
.trash-icon {
  color: grey;
  font-size: 2.5em;
}
#modal-description {
  min-height: 30vh;
}
#footer-functions {
  position: absolute;
  bottom: 10px;
}
.modal-img {
  width: 40vw;
}
.modal-width {
  width: 70vw;
}
.creator-img {
  width: 2vw;
}
